@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-gray-100: #F0EDF2;
  --color-gray-200: #E0DCE4;
  --color-gray-300: #6d6675;
  --color-gray-400: #1d1b21;

  --color-primary-light: #cbd9f7;
  --color-primary-base: #3c78fa;
  --color-primary-dark: #213e8f;

  --color-secondary-light: #d0ccff;
  --color-secondary-base: #4c3cfa;
  --color-secondary-dark: #4130bf;

  --shadow-sm: 0px 4px 8px 0px rgba(54, 23, 45, 0.05);
  
  --font-sans: "Raleway", sans-serif;
}